{% for msg in messages|default([]) %}
<div class="chat-msg chat-msg--{{ msg.role }}">
  <span class="chat-role">{{ msg.role }}</span>
  <span class="chat-text">{{ msg.content }}</span>
</div>
{% endfor %}
{% if request_click|default(false) %}
<div data-request-click hidden></div>
{% endif %}
{% if move_map is defined and move_map is not none %}
<div data-move-map="{{ move_map|tojson }}" hidden></div>
{% endif %}
{% if draft_pin is defined and draft_pin %}
{% include "partials/pin_confirm.html" %}
{% endif %}
